.venv
_pycache_/
__pycache__/
Backend/__pycache__/
Backend/models/__pycache__/
Backend/routes/__pycache__/
Backend/services/__pycache__/
Backend/database/__pycache__/
Frontend/__pycache__/
*.pyc
**/*.pyc
Frontend/.next/
Frontend/node_modules/
*.log
